/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.center {
    text-align: center;
}

.mt-20 {
    margin-top: 60px;
}

.m {
    margin: 20px auto;
}

.sp-yellow {
    color: #ffcc33;
    font-weight: bold;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(31 41 55);
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.center-ctn {
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
}

.c-yellow {
    color: #ffcc33;
}

.c-white {
    color: #fff;
}

.pd-20 {
    padding: 30px;
}

.m-10px {
    margin: 10px 0;
}

.ctn {
    border: 1px solid #000;
    padding: 10px;
    margin: 20px 0;
}

.capitalize {
    text-transform: uppercase;
}

.contenedor {
    margin: 20px auto;
    width: 80%;
    padding: 20px;

}

.bg-yellow {
    background-color: #ffcc33;
}

/* Encabezado */
.header {
    background-color: #ffcc33;
    text-align: center;
    padding: 80px 0;
    color: #000;
    display: flex;
    flex-direction: column;
}



.header h1 {
    font-size: 36px;
    margin:20px 0;
}

.header p {
    font-size: 18px;
    margin: 20px 0;
}

.header .cta-button {
    margin: 0 auto;
    width: 150px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.header .cta-button:hover {
    background-color: #272626;
}

.banner {
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
    background-position: center;
}

.ur-1 {

    background-image: url(../imagenes/1.jpg);


}

.ur-2 {
    background-image: url(../imagenes/2.jpg);
}

@media (min-width: 769px) {
    .banner {
        width: 100%;
        height: 30rem;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 0;
        background-position: center;
    }

    .ur-1 {

        background-image: url(../imagenes/1.jpg);


    }

    .ur-2 {
        background-image: url(../imagenes/2.jpg);
    }
}

/* Menú */
#menu {
    background-color: #fff;
    padding: 40px 0;
}

.descripcion {
    text-transform: uppercase;
    line-height: 2;
}

.categories {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories li {
    margin: 0 20px;
    padding-top: 20px;
}

.categories a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition: color 0.3s;
}

.categories a:hover {
    color: #ffcc33;
}

/* Detalles del producto */


.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 40px auto;
}

.product h2 {
    font-size: 24px;
}

.product p {
    font-size: 18px;
    margin: 10px 0;
}

.product .price {
    font-size: 20px;
    color: #ffcc33;
}

/* Información de contacto */
#contact {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

.c-white {
    color: #fff;
    text-transform: uppercase;
}

.contact .container h2 {
    font-size: 30px;
    text-align: center;
}

.iconos {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;

}


/* Acerca de nosotros */
#about {
    background-color: #ffcc33;
    color: #000;
    padding: 40px 0;
}

#about h2 {
    font-size: 30px;
}

.ctn-footer {
    display: flex;
    flex-direction: column;
}

.adrees {
    color: #ffcc33;
    margin-bottom: 10px;
}

.ctn-form {
    background-color: #ffcc33;
    padding: 20px;
    margin: 10px auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #000;
    margin: 20px 0;
    gap: 30px;
    padding: 20px;
}

@media (min-width: 769px) {
    .formulario {
        width: 40%;
        margin: 0 auto;
    }
}

.input {
    padding: 10px;
}

.label {
    color: #fff;
}

.submit {
    width: 150px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #000;
    background-color: #ffcc33;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
}

.submit:hover {
    background-color: #f5cc51;
}

/* Estilos para hacer la tabla receptiva */
/* Define estilos generales para la tabla */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0;
    background-color: #fff;
}

/* Define estilos para las celdas de la tabla */
th,
td {
    padding: 10px;
    text-align: center;
}

/* Define colores y bordes para las celdas */
th {
    background-color: #000;
    color: #fff;
    border-bottom: 2px solid #e0e0e0;
}

td {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
}

/* Define estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .contenedor{
        width: 100%;
    }
    th,
    td {
        padding: 5px;
    }

    /* Estilos generales para la tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: #fff;
    }

    /* Estilos para las filas y celdas */
    tr {
        display: block;
        margin-bottom: 20px;
        border: 1px solid #e0e0e0;
    }

    th,
    td {
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    /* Estilos para los encabezados */
    th {
        background-color: #f5cc51;
        color: #fff;
    }

    /* Estilos para los datos */
    td {
        background-color: #f9f9f9;
    }

}

.boton-rojo {
    background-color: rgb(231, 11, 11);
    border: none;
    padding: 15px 5px;
    color: #fff;
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
}

.boton-amarillo {
    text-align: center;
    margin: 5px 0;
    display: block;
    text-decoration: none;
    background-color: #f5cc51;
    border: none;
    padding: 15px 5px;
    color: #000;
}

.btn-verde {
    width: 200px;
    text-align: center;
    margin: 15px auto;
    display: block;
    text-decoration: none;
    background-color: #008334;
    border: none;
    padding: 15px 5px;
    color: #fff;
    font-weight: bold;
}

.alerta {
    width: 40%;

    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
}

.error {
    color: #fff;
    background-color: red;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Estilos de medios pequeños (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }

    .cta-button {
        font-size: 14px;
    }

    .categories {
        flex-direction: column;
        text-align: center;
    }

    .categories li {
        margin: 10px 0;
        padding-top: 5px;
    }

    .categories a {
        font-size: 18px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

}

.admin {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin: 0 20px;
}

.admin:hover{
    font-weight: bold;
    color: #272626;
}